/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;

}
:root {
    --background-purple: #540B51;
    --background-ivory: #F3EAE2;
    --button-blue: #4285F4;
    --titles-black: #191817;
    --paragraph-black: #000000;
    --paragraph-yellow: #ECB12F;
    --links-blue: #2E71A6;
    --footer-links-grey: #454245;
}
body {
    margin: 0 auto;
}
.nav-style {
    background-color: var(--background-purple);    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: flex-start; 
     
    
} 


.nav-logo img {
   max-width: 30%;
   margin-bottom: 0.5rem;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    list-style-position: inside;
    justify-content: space-between;
    padding-top: 1rem;
}
.nav-menu li {
    padding-right: 0.5rem;
    font-size: 0.8rem;

}

.nav-menu li a,
.nav-menu li a:visited {
    text-decoration: none;
    color: var(--links-blue);
}

 
.nav-buttons {
    display: flex;
    gap: 1rem;
   
    
}

.nav-button {
    background-color: var(--background-purple);
    border:none;
    
    
}

header {
    background-color: var(--background-purple);
    text-align: center;
    padding: 1rem;
    color:white;
    display:flex;
    flex-direction: column;
    
}    


.header-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    /* text-align: center; */
}
.header-paragr {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.text_yellow {
    color:var(--paragraph-yellow);
}

.header-container {
    margin-bottom: 1.5rem;
}
.header-buttons {
    display: flex;
    flex-direction: column;

}

.header-button {
    /* font-size: 1.2rem;*/
    font-weight: 600; 
    height:3rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    
}

.color_text_button {
    color:var(--background-purple)
}
.header-button-flex {
    display:flex;
    align-items: center;
    
    
}
.button_google {
    background-color: var(--button-blue);
}

.button_google>img {
    width: 8%;
    
    background-color: white;
    margin-left:0.3em; 
    border-radius: 2px;

}
.button_google>span {
    width:100%;
    color:white;
}
.header-screenshot-container img{
    
    
     max-width: 150%; 
}
/* header div img {
} */

 .trusted-companies {
    display: flex;
    flex-direction: column;
    padding: 1.5rem ;   
}

.trusted-companies p {
    text-align: center;
    padding: 1rem;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.trusted-companies-img {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}
.trusted-companies-img .img-comp-sqr {

    /* height: 15.625rem;  */
    width: 25%; 
    padding: 0.5rem;
    object-fit:contain;
   

}

.trusted-companies-img .img-comp-rect {

    /* height: 15.625rem;  */
    width: 45%; 
    padding: 0.5rem;
    object-fit:contain;
   

}
